photonvision.org {
    root * /var/www/html/photonvision-website
    file_server
}

javadocs.photonvision.org {
    	@root {
		path /
	}

	redir @root /release

	redir /org/{uri} /release/org/{uri}

	# Serve /release and /development from local directories
	handle_path /release* {
		root * /var/www/html/photonvision-docs/release/built-docs/javadoc
		file_server
	}

	handle_path /development* {
		root * /var/www/html/photonvision-docs/development/built-docs/javadoc
		file_server
	}
}

cppdocs.photonvision.org {

    	@root {
		path /
	}

	redir @root /release

	# Serve /release and /development from local directories
	handle_path /release* {
		root * /var/www/html/photonvision-docs/release/built-docs/doxygen/html
		file_server
	}

	handle_path /development* {
		root * /var/www/html/photonvision-docs/development/built-docs/doxygen/html
		file_server
	}
}

demo.photonvision.org {
    root * /var/www/html/photonvision-docs/built-client
    file_server
}

maven.photonvision.org {

    reverse_proxy localhost:8082 {
        header_up X-Forwarded-Proto ${scheme}
    }

    @internal {
        path_regexp internal ^/repository/internal/(.*)
    }
    redir @internal /releases/{http.regexp.internal.1}

    @snapshots {
        path_regexp snapshots ^/repository/snapshots/(.*)
    }
    redir @snapshots /snapshots/{http.regexp.snapshots.1}
}
